<div class="container">
  <h3>Intro title</h3>
  <p>Intro tekst</p>
</div>
<style>
  .googlemap {
    position: relative;
    padding-bottom: 75%; /* 4:3 ratio*/
    height: 0;
    overflow: hidden;
  }

  .googlemap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
</style>
<div class="container" id="locatie">
  <h3>Locatie</h3>
  <div class="row">
    <div class="col mb-2 googlemap">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1258.3461749767166!2d3.4557633935339793!3d50.89240416920495!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c315c5c650af05%3A0xcbc6e690be473ab3!2sD&#39;Okkernote!5e0!3m2!1sen!2sbe!4v1558549119779!5m2!1sen!2sbe"
        width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>

<div class="container" id="reserveren">
  <h3>Reserveren</h3>
  Je kan een van de volgende menus reserveren
  <div class="row">
    <div class="col-6 mb-2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Kinder menu</h5>
          <h6 class="card-subtitle mb-2 text-muted">Tot 4 jaar</h6>
          <p class="card-text text-center">Gratis - 0 euro</p>
        </div>
      </div>
    </div>
    <div class="col-6 mb-2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Kinder menu</h5>
          <h6 class="card-subtitle mb-2 text-muted">Van 4 tot 6 jaar</h6>
          <p class="card-text">Inbegrepen 2 drankjes/ijsjes</p>
          <p class="card-text text-center">10 euro</p>
        </div>
      </div>
    </div>
    <div class="col-6 mb-2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Kinder menu</h5>
          <h6 class="card-subtitle mb-2 text-muted">Van 6 tot 12 jaar</h6>
          <p class="card-text">Inbegrepen 3 drankjes/ijsjes</p>
          <p class="card-text text-center">22.50 euro</p>
        </div>
      </div>
    </div>
    <div class="col-6 mb-2">
      <div class="card ">
        <div class="card-body">
          <h5 class="card-title">Volwassen menu</h5>
          <h6 class="card-subtitle mb-2 text-muted">Ouder dan 12 jaar</h6>
          <ul class="card-text">
            <li>Aperitief (cava, wijn, bier, limonade, water) + hapjes</li>
            <li>Barbecue à volonté: vlees (cote à l’os, pata negra, …), vis (scampis, …) , veggie, pasta (couscous,
              tabouleh, …)
            </li>
            <li>Uitgebreid groentenbuffet (warme en koude groenten)</li>
            <li>Koffie</li>
            <li>Drank bij het eten (wijn, bier, water)</li>
          </ul>
          <p class="card-text text-center">54.50 euro</p>
        </div>
      </div>
    </div>
    <div class="col-12 mb-2">
      <button type="button" class="btn btn-outline-primary btn-block" routerLink="registration">Reserveren</button>
    </div>
  </div>
  <div class="row">

  </div>
</div>
