<div class="container">
  <div class="row">
    <div class="col-md-6">
      <mat-card>
        <mat-card-title>title</mat-card-title>
        <mat-card-subtitle>subtitle</mat-card-subtitle>
        <mat-card-content>
          content
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-6">
      <mat-card>
        <mat-card-title>title</mat-card-title>
        <mat-card-subtitle>subtitle</mat-card-subtitle>
        <mat-card-content>
          content
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
