<div class="row">
  <div class="mb-2 col-md-3"
       *ngFor="let eventItem of eventItems">
    <div class="card mb-2">
      <div class="card-body">
        <span>{{eventItem.title}} - {{eventItem.price | currency :'EUR'}}</span>
      </div>
    </div>
    <button class="btn btn-outline-primary btn-block" (click)="openDialog(eventItem)">Bestellen</button>
  </div>
</div>
<h2>Reeds bestelde menus</h2>
<ol>
  <li *ngFor="let purchase of purchases">
    <ol>{{purchase.eventItem.title}} voor {{purchase.beneficiary}}</ol>
  </li>
</ol>

<div>

</div>

