<div class="row">
  <div class="col-6 mb-2"
       [ngClass]="{'col-6': eventItem.description.length<50,
       'col-12': eventItem.description.length>=50}"
       *ngFor="let eventItem of eventItems">
    <div class="card mb-2">
      <div class="card-body">
        <h5 class="card-title">{{eventItem.title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{eventItem.price | currency :'EUR'}}</h6>
        <p class="card-text" [innerHTML]="eventItem.description"></p>
        <p class="card-text text-center">{{eventItem.price | currency :'EUR'}}</p>
      </div>
    </div>
    <button class="btn btn-outline-primary btn-block" (click)="openDialog(eventItem)">Bestellen</button>
  </div>
</div>
<h2>Reeds bestelde menus</h2>
<ol>
  <li *ngFor="let purchase of purchases">
    <ol>{{purchase.eventItem.title}} voor {{purchase.beneficiary}}</ol>
  </li>
</ol>

<div>

</div>

