<mat-list>
  <mat-list-item *ngFor="let eventItem of eventItems">
    <div>inside loop!</div>
    <h3 matLine>{{eventItem.title}}</h3>

    <button mat-icon-button (click)="openDialog(eventItem)" matTooltip="voeg dit menu toe voor een gezinslid">
      <mat-icon>add_circle</mat-icon>
    </button>
  </mat-list-item>

</mat-list>
<h2>Reeds gekozen menus</h2>
<mat-list>
  <mat-list-item ngFor="let i of 1..5">
    <h3 matLine>Volwassen menu voor persoon X</h3>

    <button mat-icon-button (click)="openDialog()" matTooltip="verwijder menukeuze">
      <mat-icon>remove_circle</mat-icon>
    </button>
  </mat-list-item>


</mat-list>


<div>

</div>

