<app-menulist></app-menulist>
<div>
  <div>
    <mat-horizontal-stepper [linear]="true">
      <mat-step>
        <div class="col text-center">
          <app-eventcode-checker (eventCodeValid)="setEventCode($event)"></app-eventcode-checker>
          <div *ngIf="eventCode?.id">
            Code voor {{eventCode.user.name}}
          </div>
          <div>
            <button mat-button matStepperNext *ngIf="eventCode">Next</button>
          </div>
        </div>
      </mat-step>
      <mat-step>
        <app-menulist></app-menulist>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step>
        Review & Confirmation
        <div>
          <button mat-button matStepperPrevious>Back</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
