<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Code</th>
    <th scope="col">name</th>
    <th scope="col">purchases</th>
    <th scope="col">total</th>
    <th scope="col">paid</th>
    <th scope="col">open</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let er of eventRegistrations">
    <td>{{er.code}}</td>
    <td>{{er.user.fullName}}</td>
    <td>
      <ol>
        <li *ngFor="let purchase of er.purchasedItems">
          {{purchase.eventItem.title}} voor {{purchase.beneficiary}}
        </li>
      </ol>
    </td>
    <td>{{er.purchaseTotal | currency :'EUR'}}</td>
    <td>{{er.amountAlreadyPaid | currency :'EUR'}}</td>
    <td>{{er.openAmount | currency :'EUR'}}</td>
  </tr>
  </tbody>
</table>

