<div class="container">
  <div class="row mb-2">
    <div class="col-2">
      <label for="secrettoken">Secret header token:</label>
    </div>
    <div class="col-2">
      <input type="text" id="secrettoken" [(ngModel)]="token">
    </div>
  </div>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Code</th>
    <th scope="col">name</th>
    <th scope="col">purchases</th>
    <th scope="col">total</th>
    <th scope="col">paid</th>
    <th scope="col">open</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let er of eventRegistrations">
    <td>{{er.code}}</td>
    <td>{{er.user.fullName}}</td>
    <td>
      <ol>
        <li *ngFor="let purchase of er.purchasedItems">
          {{purchase.eventItem.title}} voor {{purchase.beneficiary}}
        </li>
      </ol>
    </td>
    <td>{{er.purchaseTotal | currency :'EUR'}}</td>
    <td>{{er.amountAlreadyPaid | currency :'EUR'}}</td>
    <td>{{er.openAmount | currency :'EUR'}}</td>
    <td>
      <button
        class="btn btn-outline-primary btn-block"
        (click)="openDialog(er)"
        *ngIf="!(er.purchasedItems.length>0 && er.openAmount <= 0)">Add payment
      </button>
    </td>
    <td>
      <button class="btn btn-outline-primary btn-block" (click)="sendPurchaseMail(er)">Send purchasemail</button>
    </td>
  </tr>
  </tbody>
</table>

