<html>

<body>
    Beste {{ eventRegistration.user.firstName}},
    <div>
        <p>Tot nu toe ontvingen we nog geen inschrijving voor het Familiefeest van de Van Ryckeghems.
        Geen probleem, inschrijven kan nog tot en met 10 september!</p>
    </div>
    <div>
        <p>
        Kan je er toch niet bij zijn, laat je ons dit ook weten? Bedankt!
        </p>
    </div>
    <div>
        <p>Bij problemen of vragen kan je altijd een mailtje sturen of ons bellen.</p>
    </div>
    <div>
        <p>
        Tot 22 september!
        <br/> Pieter-Jan & Margriet
        </p>
    </div>
</body>

</html>