<html>

<body>
    Beste {{ eventRegistration.user.firstName}},
    <div>
        Graag nodigen we je uit op het familiefeest van de familie Van Ryckeghem. Meer info over de locatie en de menus vind je op http://www.familievanryckeghem.be
    </div>
    <div>
        Om alles vlot te laten verlopen, kan je de menukeuzes van je gezin online doorgeven. Dit gebeurt in een aantal stappen:
        <ol>
            <li>surf naar <a href="http://www.familievanryckeghem.be/registration">http://www.familievanryckeghem.be/registration</a></li>
            <li>vul je unieke code in, die is {{eventRegistration.code}}</li>
            <li>klik op de 'check code' knop</li>
            <li>je krijgt alle menukeuzes te zien - klik op de 'bestellen' knop en vul een naam in van iemand uit je gezin</li>
            <li>Herhaal dit tot je een keuze ingevuld hebt voor elk gezinslid - onder de menus zie je de reeds gemaakte keuzes</li>
            <li>Als je alles besteld hebt, dan kan je op de 'Naar betaalinstructies' knop onderaan het scherm klikken</li>
            <li>je ziet nog een bevestiging met alle betaalgegevens</li>
        </ol>
    </div>
    <div>
        Bij problemen of vragen kan je altijd een mailtje sturen.
    </div>
    <div>
        Tot 22 september!
        <br/> Pieter-Jan & Margriet
    </div>
</body>

</html>